<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>UsersController</servlet-name>
        <servlet-class>za.co.zs6erb.controller.UsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModesController</servlet-name>
        <servlet-class>za.co.zs6erb.controller.ModesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BandsController</servlet-name>
        <servlet-class>za.co.zs6erb.controller.BandsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PowerController</servlet-name>
        <servlet-class>za.co.zs6erb.controller.PowerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvinceCodesController</servlet-name>
        <servlet-class>za.co.zs6erb.controller.ProvinceCodesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QSOController</servlet-name>
        <servlet-class>za.co.zs6erb.controller.QSOController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContestsController</servlet-name>
        <servlet-class>za.co.zs6erb.controller.ContestsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StationClassController</servlet-name>
        <servlet-class>za.co.zs6erb.controller.StationClassController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersController</servlet-name>
        <url-pattern>/UsersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModesController</servlet-name>
        <url-pattern>/ModesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BandsController</servlet-name>
        <url-pattern>/BandsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PowerController</servlet-name>
        <url-pattern>/PowerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvinceCodesController</servlet-name>
        <url-pattern>/ProvinceCodesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QSOController</servlet-name>
        <url-pattern>/QSOController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContestsController</servlet-name>
        <url-pattern>/ContestsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StationClassController</servlet-name>
        <url-pattern>/StationClassController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
